<!-- base.html -->

{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

```
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
    {% block title %}
    Portfolio
    {% endblock %}
</title>

<!-- CSS -->
{% load static %}

<link rel="stylesheet" href="{% static 'portfolio_app/style.css' %}">
```

</head>

<body>

<!-- Navbar -->

<nav>

    <div class="logo">
    Muhammad Ali👋 
    </div>

    <!-- Hamburger Icon -->
   <div class="menu-toggle" id="menu-toggle">
    ☰
</div>
    <ul id="nav-links">

        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>

        <li>
            <a href="{% url 'projects' %}">Projects</a>
        </li>

        <li>
            <a href="{% url 'contact' %}">Contact</a>
        </li>

    </ul>

</nav>

<script>

const menuToggle = document.getElementById("menu-toggle");
const navLinks = document.getElementById("nav-links");

menuToggle.addEventListener("click", function(){
    navLinks.classList.toggle("active");
});

</script>

<!-- Page Content -->

{% block content %}

{% endblock %}

<!-- Footer -->

<footer class="footer">

    <div class="footer-content">

        <h2>Ali Khurram</h2>

        <p>
            Python Developer | Django Developer | Web Designer
        </p>

        <div class="social-links">

            <a href="https://instagram.com/" target="_blank">
                Instagram
            </a>

            <a href="https://facebook.com/" target="_blank">
                Facebook
            </a>

            
               <a href="https://www.linkedin.com/in/muhammad-ali-7412403a2" target="_blank">
              LinkedIn
              </a>

            <a href="https://github.com/" target="_blank">
                GitHub
            </a>

        </div>

        <div class="footer-bottom">
            © 2026 Ali Khurram | All Rights Reserved
        </div>

    </div>

</footer>

</body>

</html>
